@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");


//Fonts


@mixin interRegular400(){
  font-family: 'Inter',sans-serif;
  font-weight: 400;

}
@mixin interBold500(){
  font-family: 'Inter',sans-serif;
  font-weight: 500;
}
@mixin interBold600(){
  font-family: 'Inter',sans-serif;
  font-weight: 600;
}
@mixin interBold700(){
  font-family: 'Inter',sans-serif;
  font-weight: 700;
}

h1{
  @include interBold700();
}
h2{
  @include interBold600();
}
h3{
  @include interBold500();
}
p{
  @include interRegular400();
}


//Colors

$color-primary:   #010A26; // Fundo escuro principal (Rich Black)
$color-secondary: #406973; // Cor de destaque suave (Slate Gray)
$color-tertiary:  #163C40; // Cor de suporte escura (Deep Teal)
$color-light:     #F0F2F1; // Fundo claro / texto claro (Cultured)
$color-accent:    #BF967E; // Cor de ação / chamada (Rosy Brown)


//Flex Box

@mixin flex-center($direction) {
  display: flex;
  justify-content: center;
  flex-direction: $direction;
}

//Tags

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a{
  text-decoration: none;
}

main{
  padding: 5rem 0;
}